name: release-ubuntu

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create release
        run: |
          rm -rf release 
          mkdir release
          echo ${{ github.sha }} > Release.txt
          cp Release.txt LICENSE release/
          cat Release.txt

      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Compile backend
        run: |
          mvn package
          mvn package -P war

      - name: Compile frontend
        run: |
          cd ./web
          npm install
          npm run build:prod
          tree -L 2
          cd ../


      - name: Package Files
        run: |
          cp -r ./web/* release/web  # 复制前端文件
          cp ./target/*.jar release/     # 复制 JAR 文件
          cp ./src/main/resources/application-dev.yml rlease/
          zip -r release-ubuntu-${{ matrix.arch }}.zip release

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: release-ubuntu-${{ matrix.arch }}.zip
          update_latest_release: true